<!doctype html>
<html lang="en">

<head>
    <style>
        #submit:hover {
  background-color: blueviolet;
}
    </style>
    <title>Desktop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- Main css -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

        <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <h3><a style="color:bisque;" class="nav-link">{{details.brandName}}</a> </h3>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a href="/" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">{{details.nav1}} <span class="sr-only">(current)</span></a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <header class="bg-gradient" id="home">
        <div class="container mt-5">
 
        <h3 style="color: white;">Desktop</h3>
                <div class="img-holder mt-13"><img src="{{details.HeaderImg}}" alt="phone" class="img-fluid"></div>
    </header>
        <br><br><br>
        </div>
    </header>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/static/images/des2.png"></div>
                <div class="col-md-6 mt-1">
                    <h5>Yoga</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>AIO 7 (27, AMD)</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>(8 GB/256 GB SSD/Windows 11 Home)</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Thin and Light  (14 inch, Natural Silver, 1.41 Kg, With MS Office).<br><br></p>
                                    <h6 class="text-danger">ID - 109</h6>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                       <div class="d-flex flex-column mt-4">
                        <h4 class="mr-1">₹ 171,489.97</h4><span class="strike-text"><s>₹ 199,.998</s></span>
                    </div>
                    <h6 class="text-success">Free Shipping</h6>
                </div>
            </div>


            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/static/images/des1.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>OptiPlex</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>5400 All-in-One</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>12th Gen Intel® Core™ i5-12500T (18 MB cache, 6 cores, 12 threads, 2.00 GHz to 4.40 GHz Turbo, 35 W) laptop Windows 10 Pro (Windows 11 Pro license included), English (Dell Technologies recommends Windows 11 Pro for business)</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Intel® Integrated Graphics memory 8 GB, 1 x 8 GB, DDR4 harddrive 256 GB, M.2 2230, PCIe NVMe, SSD, Class 35 fallbackcolor OptiPlex 5400 AIO, 23.8" FHD 1920X1080 Non Touch, 35W CPU, FHD Camera, UMA, 155W Bronze PSU, WW<br><br></p>
                                    <h6 class="text-danger">ID - 110</h6>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                       <div class="d-flex flex-column mt-4">
                        <h4 class="mr-1">₹  89,848.60</h4><span class="strike-text"><s>₹ 110,400.97</s></span>
                    </div>
                    <h6 class="text-success">Free Shipping</h6>
                </div>
            </div>



            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/static/images/des3.webp"></div>
                <div class="col-md-6 mt-1">
                    <h5>HP</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>All-in-One Desktop PC 24-ck0550in</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Windows · Solid State Drive · Mechanical Hard Drive · 1920 x 1080 · Intel CPU · Quad-core</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">12th Generation Intel Core i3 processor Windows 11 Home 8 GB DDR4-3200 MHz RAM (1 x 8 GB) 256 GB PCIe NVMe M.2 SSD +1 TB 5400 rpm SATA HDD Intel UHD Graphics 730<br><br></p>
                                    <h6 class="text-danger">ID - 111</h6>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                       <div class="d-flex flex-column mt-4">
                        <h4 class="mr-1">₹ 57,499</h4><span class="strike-text"><s>₹ 60,399.97</s></span>
                    </div>
                    <h6 class="text-success">Free Shipping</h6>
                </div>
            </div>

            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/static/images/des4.webp"></div>
                <div class="col-md-6 mt-1">
                    <h5>Acer Nitro</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span> Gaming Computer</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Intel Core i5-12400F - 16GB/512GB</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Core i5 Processor and 16GB of DDR4 3200 RAM with inbuilt Microsoft Office<br><br></p>
                    <h6 class="text-danger">ID - 112</h6>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                       <div class="d-flex flex-column mt-4">
                        <h4 class="mr-1">₹ 21,999</h4><span class="strike-text"><s>₹ 24,489.97</s></span>
                    </div>
                    <h6 class="text-success">Free Shipping</h6>
                    
                </div>
            </div>
    </div>
</div>
</div>
















<div class="section bg-gradient" id="contact">
        <div class=" container ">
            <div class="call-to-action ">

                <div class="box-icon "><span><img src="/static/images/phone.png" style="height: 25px;"></span></div>
                <div class="container" style="display: flex; flex-direction: column; align-items: center; ">
                    <div class="form-group col-md-5">
                        <h3>Book Now</h3>
                        <form action="/process-book-form" method="POST" style="display:grid; ">

                            <input type="text" id="firstname" name="Name" placeholder="Name " style="border-radius: 10px;" required /><br>
                            <input type="number" id="lastname" name="Mobile" placeholder="Mobile " style="border-radius: 10px;" required><br>                           
                            <input type="email" id="email" name="email" placeholder="Email ID " style="border-radius: 10px;" required>
                            <br>
                            <input type="date" id="Fdate" name="Fdate" style="border-radius: 10px;" required>
                            <label>From Date</label>
                            <input type="date" id="Tdate" name="Tdate" style="border-radius: 10px;" required>
                            <label>To Date</label>
                            <select name="Unit" id="cars"  required>
                                <option value="None">Select Id</option>
                                <option value="Yoga AIO 7 (27, AMD)">109</option>
                                <option value="OptiPlex 5400 All-in-One">110</option>
                                <option value="HP All-in-One Desktop PC 24-ck0550in">111</option>
                                <option value="Acer Nitro Gaming Computer">112</option>
                            </select>
                            <label for="cars">Choose Id:</label>
                            <br>
                            <textarea id="query" name="Requirements" placeholder="Give us your Requirement " style="height:200px;border-radius: 10px;" required></textarea>
                            <br>
                             <input type="hidden" id="Order_Delevered" name="Order_Delevered" placeholder="ststus " style="border-radius: 10px;">
                            <input type="submit" id="submit" value="Submit" style="border-radius: 40px; ">
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </div>




    <div class="light-bg py-5 ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 text-center text-lg-left ">
                    <p class="mb-2 "> <span><img src="/static/images/address.png" style="height: 35px;"></span>{{details.Address}}</p>
                    <div class=" d-block d-sm-inline-block ">
                        <p class="mb-2 ">
                            <span><img src="/static/images/mail.png" style="height: 25px;"></span> <a class="mr-4 " href="mailto:vyasdarshatak15866@gmail.com ">{{details.Email}}</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block ">
                        <p class="mb-0 ">
                            <span><img src="/static/images/phone.png" style="height: 25px;"></span> <a href="tel:51836362800 ">{{details.Mobile}}</a>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6 ">
                    <div class="social-icons ">
                        <a href="https://www.facebook.com/darshatakvyas" target="_blank"><span ><img src="/static/images/insta.png" style="height: 25px;"></span></a>
                        <a href="https://twitter.com/darshatakvyas" target="_blank"><span ><img src="/static/images/twitter.png" style="height: 35px;"></span></a>
                        <a href="https://www.instagram.com/darshatak_vyas/?hl=en" target="_blank"><span><img src="/static/images/Facebook.png" style="height: 25px;"></span></a>
                    </div>
                </div>
            </div>

        </div>
    <!-- // end .section -->
    <footer class="my-5 text-center ">
        <p class="mb-2 "><small>COPYRIGHT © 2021. ALL RIGHTS RESERVED BY <a href="/login/LAR/T&C.html ">Darshatak</a></small></p>
    </footer>


    <!-- jQuery and Bootstrap -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="/static/js/script.js"></script>


</body>

</html>