<!doctype html>
<html lang="en">

<head>
    <style>
        #submit:hover {
  background-color: blueviolet;
}
    </style>
    <title>Desktop</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- Main css -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->

        <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <h3><a style="color:bisque;" class="nav-link">{{details.brandName}}</a> </h3>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a href="/" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">{{details.nav1}} <span class="sr-only">(current)</span></a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <header class="bg-gradient" id="home">
        <div class="container mt-5">
 
        <h3 style="color: white;">Gaming Consoles</h3>
                <div class="img-holder mt-13"><img src="{{details.HeaderImg}}" alt="phone" class="img-fluid"></div>
    </header>
        <br><br><br>
        </div>
    </header>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/static/images/con1.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Xbox Console</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Series X</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>the fastest, most powerful Xbox ever. Play thousands of titles from four generations of consoles—all games look and play best on Xbox series X</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Xbox game Pass ultimate includes over 100 high-quality games, online multiplayer, and an EA play membership for one low monthly price.<br><br></p>
                                    <h6 class="text-danger">ID - 105</h6>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                       <div class="d-flex flex-column mt-4">
                        <h4 class="mr-1">₹ 53,499</h4><span class="strike-text"><s>₹ 58,489.97</s></span>
                    </div>
                    <h6 class="text-success">Free Shipping</h6>
                </div>
            </div>


            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/static/images/con2.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Nintendo Switch</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>OLED model With Neon Red & Neon Blue</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>7-inch OLED screen ,64 GB internal storage and Enhanced audio </span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">G513IE-HN040WS Gaming Laptop  (15.6 inch, Eclipse Gray, 2.10 kg, With MS Office).<br><br></p>
                                    <h6 class="text-danger">ID - 106</h6>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                       <div class="d-flex flex-column mt-4">
                        <h4 class="mr-1">₹ 94,489.97</h4><span class="strike-text"><s>₹ 90,400.97</s></span>
                    </div>
                    <h6 class="text-success">Free Shipping</h6>
                </div>
            </div>



            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/static/images/con3.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>Xbox Console</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Series S</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Go all-digital and enjoy disc-free, next-gen gaming with the smallest Xbox console ever made</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Minimize load times with a custom-built 512GB NVMe SSD<br><br></p>
                                    <h6 class="text-danger">ID - 107</h6>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                       <div class="d-flex flex-column mt-4">
                        <h4 class="mr-1">₹ 53,400</h4><span class="strike-text"><s>₹ 60,399.97</s></span>
                    </div>
                    <h6 class="text-success">Free Shipping</h6>
                </div>
            </div>

            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="/static/images/con4.png"></div>
                <div class="col-md-6 mt-1">
                    <h5>Sony PlayStation </h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>4 Pro</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>1 TB Gaming Console</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">Feel the power of Pro, 4K-TV gaming and entertainment, Double the power of PS4, HDR technology
<br><br></p>
                    <h6 class="text-danger">ID - 108</h6>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                       <div class="d-flex flex-column mt-4">
                        <h4 class="mr-1">₹ 21,999</h4><span class="strike-text"><s>₹ 24,489.97</s></span>
                    </div>
                    <h6 class="text-success">Free Shipping</h6>
                    
                </div>
            </div>
    </div>
</div>
</div>
















<div class="section bg-gradient" id="contact">
        <div class=" container ">
            <div class="call-to-action ">

                <div class="box-icon "><span><img src="/static/images/phone.png" style="height: 25px;"></span></div>
                <div class="container" style="display: flex; flex-direction: column; align-items: center; ">
                    <div class="form-group col-md-5">
                        <h3>Book Now</h3>
                        <form action="/process-book-form" method="POST" style="display:grid; ">

                            <input type="text" id="firstname" name="Name" placeholder="Name " style="border-radius: 10px;" required /><br>
                            <input type="number" id="lastname" name="Mobile" placeholder="Mobile " style="border-radius: 10px;" required><br>                           
                            <input type="email" id="email" name="email" placeholder="Email ID " style="border-radius: 10px;" required>
                            <br>
                            <input type="date" id="Fdate" name="Fdate" style="border-radius: 10px;" required>
                            <label>From Date</label>
                            <input type="date" id="Tdate" name="Tdate" style="border-radius: 10px;" required>
                            <label>To Date</label>
                            <select name="Unit" id="cars"  required>
                                <option value="None">Select Id</option>
                                <option value="Xbox Console Series X">105</option>
                                <option value="Nintendo Switch">106</option>
                                <option value="Xbox Console Series S">107</option>
                                <option value="Sony PlayStation 4 Pro">108</option>
                            </select>
                            <label for="cars">Choose Id:</label>
                            <br>
                            <textarea id="query" name="Requirements" placeholder="Give us your Requirement " style="height:200px;border-radius: 10px;" required></textarea>
                            <br>
                            <input type="submit" id="submit" value="Submit" style="border-radius: 40px; ">
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </div>




    <div class="light-bg py-5 ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-6 text-center text-lg-left ">
                    <p class="mb-2 "> <span><img src="/static/images/address.png" style="height: 35px;"></span>{{details.Address}}</p>
                    <div class=" d-block d-sm-inline-block ">
                        <p class="mb-2 ">
                            <span><img src="/static/images/mail.png" style="height: 25px;"></span> <a class="mr-4 " href="mailto:vyasdarshatak15866@gmail.com ">{{details.Email}}</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block ">
                        <p class="mb-0 ">
                            <span><img src="/static/images/phone.png" style="height: 25px;"></span> <a href="tel:51836362800 ">{{details.Mobile}}</a>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6 ">
                    <div class="social-icons ">
                        <a href="https://www.facebook.com/darshatakvyas" target="_blank"><span ><img src="/static/images/insta.png" style="height: 25px;"></span></a>
                        <a href="https://twitter.com/darshatakvyas" target="_blank"><span ><img src="/static/images/twitter.png" style="height: 35px;"></span></a>
                        <a href="https://www.instagram.com/darshatak_vyas/?hl=en" target="_blank"><span><img src="/static/images/Facebook.png" style="height: 25px;"></span></a>
                    </div>
                </div>
            </div>

        </div>
    <!-- // end .section -->
    <footer class="my-5 text-center ">
        <p class="mb-2 "><small>COPYRIGHT © 2021. ALL RIGHTS RESERVED BY <a href="/login/LAR/T&C.html ">Darshatak</a></small></p>
    </footer>


    <!-- jQuery and Bootstrap -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="/static/js/script.js"></script>


</body>

</html>